In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/playground-series-s4e11/sample_submission.csv
/kaggle/input/playground-series-s4e11/train.csv
/kaggle/input/playground-series-s4e11/test.csv

In [3]:
df = pd.read_csv('/kaggle/input/playground-series-s4e11/train.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     140700 non-null  int64
 1   Name                                   140700 non-null  object
 2   Gender                                 140700 non-null  object
 3   Age                                    140700 non-null  float64
 4   City                                   140700 non-null  object
 5   Working Professional or Student        140700 non-null  object
 6   Profession                             104070 non-null  object
 7   Academic Pressure                      27897 non-null   float64
 8   Work Pressure                          112782 non-null  float64
 9   CGPA                                   27898 non-null   float64
 10  Study Satisfaction                     27897 non-null   float64
 11  Job Satisfaction                       112790 non-null  float64
 12  Sleep Duration                         140700 non-null  object
 13  Dietary Habits                         140696 non-null  object
 14  Degree                                 140698 non-null  object
 15  Have you ever had suicidal thoughts ?  140700 non-null  object
 16  Work/Study Hours                       140700 non-null  float64
 17  Financial Stress                       140696 non-null  float64
 18  Family History of Mental Illness       140700 non-null  object
 19  Depression                             140700 non-null  int64
dtypes: float64(8), int64(2), object(10)
memory usage: 21.5+ MB

In [7]:
df['Name'].unique()

array(['Aaradhya', 'Vivan', 'Yuvraj', 'Rhea', 'Vani', 'Ritvik', 'Rajveer',
       'Aishwarya', 'Simran', 'Utkarsh', 'Aahana', 'Tejas', 'Aadhya',
       'Kiran', 'Aditi', 'Suhani', 'Jiya', 'Bhavesh', 'Armaan', 'Ishaani',
       'Prachi', 'Pratyush', 'Abhinav', 'Siddhesh', 'Aditya', 'Aarav',
       'Asha', 'Kashish', 'Prisha', 'Chhavi', 'Tanmay', 'Vihaan', 'Shiv',
       'Anvi', 'Darsh', 'Samar', 'Raunak', 'Mahi', 'Shaurya', 'Vidya',
       'Jai', 'Ayush', 'Ansh', 'Anand', 'Yashvi', 'Shrey', 'Ritika',
       'Mihir', 'Isha', 'Arjun', 'Rohan', 'Pratham', 'Nirvaan', 'Ishaan',
       'Aarya', 'Riya', 'Aariv', 'Raghavendra', 'Mahika', 'Abhishek',
       'Harshil', 'Janvi', 'Kartikeya', 'Shivam', 'Advait', 'Reyansh',
       'Saanvi', 'Ivaan', 'Pallavi', 'Sneha', 'Ayaan', 'Aakash', 'Raghav',
       'Satyam', 'Aarush', 'Vibha', 'Rupal', 'Sanya', 'Mira', 'Rashi',
       'Shlok', 'Harsha', 'Divya', 'Pranav', 'Hrithik', 'Tushar',
       'Garima', 'Zoya', 'Kian', 'Navya', 'Lakshay', 'Kriti', 'Palak',
       'Aryan', 'Parth', 'Ishan', 'Rupak', 'Atharv', 'Aarti', 'Anirudh',
       'Kabir', 'Sanjeev', 'Sanket', 'Tara', 'Gagan', 'Anjali', 'Gaurav',
       'Vikram', 'Yogesh', 'Ila', 'Rishi', 'Ayansh', 'Kolkata', 'Kavya',
       'Aanchal', 'Vedant', 'Samaira', 'Harsh', 'Nikita', 'Charvi',
       'Ishita', 'Ishwar', 'Kanika', 'Ritik', 'Rahil', 'Ira', 'Pari',
       'Tanya', 'Yamini', 'Vidhi', 'Shreya', 'Neha', 'Esha', 'Damini',
       'Manvi', 'Shivansh', 'Nikhil', 'Arya', 'Deepak', 'Shruti',
       'Vrinda', 'Anushka', 'Sara', 'Zara', 'Gauri', 'Soham', 'Nandini',
       'Siddharth', 'Rudransh', 'Manan', 'Dhruv', 'Tina', 'Pihu',
       'Lavanya', 'Anika', 'Sai', 'Tanisha', 'Amit', 'Arav', 'Chirag',
       'Krishna', 'Pooja', 'Eshita', 'Leela', 'Siddhi', 'Vanya', 'Trisha',
       'Vivaan', 'Diya', 'Veda', 'Keshav', 'Kunal', 'Arnav', 'Barkha',
       'Nalini', 'Golkut', 'Jasmine', 'Mithila', 'Rupa', 'Nisha',
       'Saurav', 'Radhika', 'Jhanvi', 'Monika', 'Varun', 'Aan', 'Dev',
       'Rajat', 'Naina', 'Nishant', 'Yash', 'Vaishnavi', 'Himani',
       'Meera', 'Om', 'Anaya', 'Aniket', 'Tanvi', 'Mayank', 'Ishaesh',
       'Srishti', 'Lata', 'Mukund', 'Ranveer', 'Khushi', 'Aarohi',
       'Bhavna', 'Neil', 'Shivak', 'Apoorva', 'Kartik', 'Avni', 'Vaanya',
       'Kush', 'Karishma', 'Shanaya', 'Virat', 'Rudra', 'A.Ed', 'Kiara',
       'Krav', 'Ayhan', 'Nakul', 'Kalyan', 'Parvik', 'Vlaan', 'Harini',
       'Mahak', 'Shivar', 'Abishma', 'Prvi', 'K. Kavya', 'Aieter',
       'Aarsh', 'Aarvi', 'Kupa', 'Rudegrav', 'Parvi', 'Siddh', 'Rajankot',
       'Ani', 'Rupil', 'Aarash', 'Taurav', 'Rani', 'Aanya', 'BE', 'Aavya',
       'Raghavvi', 'Anarush', 'Aisha', 'Viv', 'Ronnie', '18', 'Rietal',
       'R.Com', 'Anohi', 'Vivani', 'Ayash', 'Anil', 'Tarsh', 'Aiya',
       'Patna', 'Tinmay', 'Rhesh', 'Shivna', 'Nikya', 'Arnar', 'Vakash',
       'Jush', 'Randik', 'Siddir', 'Adachi', 'Anakash', 'Ayut', 'Pariv',
       'Jhaan', 'Rai', 'Hreya', 'Shivivaam', 'Prishti', 'M.Com',
       'Gavrachi', 'Rivaan', 'Haurav', 'Noreen', 'Anish', 'Shivan',
       'Aniv', 'Aohi', 'Vashi', 'Aariket', 'Aarat', 'Vohi', 'Vavya',
       'Hra', 'Ishaam', 'Anhil', 'Rieta', 'Zahra', 'Jathesh', 'Jhav',
       'Anh', 'Vidvi', 'Raghavik', 'Mahir', 'Sansh', 'Shivvi', 'Prishant',
       'Rupar', 'Eirini', 'Tanak', 'Researcher', 'Shaina', 'Aani',
       'Plumber', 'Nanya', 'Manik', 'Nanchal', 'Ayoub', 'Aam', 'Airav',
       'Zegmay', 'Aarsush', 'Vidra', 'Kani', 'Ishma', 'Naly', 'Jaish',
       'Rajya', 'Chrinda', 'Tani', 'Harshand', 'Ranchal', 'Vita',
       'Prandini', 'Mahav', 'Nhanini', 'Anupal', 'Manr', 'Eikram',
       'Arsha', 'Kartika', 'Pradhya', 'Harshir', 'Shivlok', 'Shivwar',
       'Abarav', 'Ayya', 'Rupai', 'Rudrithik', 'Varanasi', 'K.Pharm',
       'UX/UI Designer', 'Ariti', 'Manjun', 'Arvik', 'Thane', 'Rupika',
       'Aaransh', 'Ijra', 'Anar', 'Parha', 'Vidha', 'Prayat', 'Yurav',
       'Srinagar', 'Aaranya', 'Rupadhya', 'Anishi', 'Aikash', 'Nhanvi',
       'Jiram', 'Rudrey', 'Shashi', 'Anya', 'Eisha', 'Vhaani', 'Prilak',
       'Aarani', 'Nya', 'Harshav', 'Ewesh', 'Aanket', 'Tohar', 'Ryouvik',
       'Niya', 'Anjun', 'Rupat', 'Anahk', 'Shivsh', 'Niki', 'Nishita',
       'Rohik', 'Prishi', 'Ishaansh', 'Virar', 'Sharth', 'M.Tech', 'Shir',
       'Kike', 'Shivvaan', 'Aarla', 'Nishi', 'Aarand', 'Adiya', 'Ritak',
       'Kashi', 'Krey', 'Prarav', 'Kartal', 'Anariv', 'Irit', 'Kanisha',
       'Anisha', 'Harshaun', 'Rietvik', 'Vasai-Virar', 'Ishlok', 'Vika',
       'Rika', 'Aarun'], dtype=object)

In [12]:
pd.set_option('display.max_rows', 300)
df['Name'].value_counts()

Name
Rohan             3178
Aarav             2336
Rupak             2176
Aaradhya          2045
Anvi              2035
Raghavendra       1877
Vani              1657
Tushar            1596
Ritvik            1589
Shiv              1568
Riya              1548
Rashi             1547
Raunak            1524
Anand             1486
Ishaani           1477
Ansh              1423
Vidya             1408
Ritika            1313
Anushka           1279
Sanya             1272
Aarush            1266
Aariv             1254
Abhishek          1252
Rupal             1234
Harsha            1230
Harsh             1156
Vikram            1154
Shivam            1146
Raghav            1120
Armaan            1116
Prachi            1104
Ivaan             1090
Ayaan             1090
Siddhesh          1090
Ira               1061
Prisha            1055
Rahil             1051
Rishi             1040
Ritik             1033
Pratham           1023
Aniket            1023
Chhavi            1003
Vibha              974
Vivan              963
Aishwarya          962
Gauri              959
Nikita             951
Naina              946
Veda               940
Arav               925
Vidhi              913
Jiya               912
Advait             910
Krishna            875
Vedant             872
Ayush              869
Aditi              851
Shaurya            848
Kashish            845
Gagan              842
Eshita             831
Pratyush           816
Ila                799
Simran             790
Aadhya             787
Shreya             784
Rudransh           776
Garima             769
Yashvi             767
Anjali             757
Vihaan             744
Keshav             737
Yuvraj             730
Ishan              714
Tanisha            713
Harshil            712
Sanket             710
Rajat              706
Kunal              700
Nikhil             690
Kiran              687
Aanchal            684
Zara               681
Shlok              672
Nandini            663
Pranav             655
Mahika             652
Kavya              643
Jhanvi             635
Esha               632
Satyam             632
Reyansh            627
Shrey              626
Janvi              611
Anaya              610
Anirudh            606
Arnav              595
Aahana             593
Aarti              586
Pallavi            586
Amit               583
Ishwar             574
Utkarsh            547
Siddharth          539
Saanvi             537
Asha               534
Darsh              526
Abhinav            524
Anika              520
Parth              518
Aditya             512
Aarohi             504
Nishant            501
Tanya              501
Rhea               499
Samar              498
Chirag             493
Kriti              490
Manvi              486
Divya              481
Kabir              481
Pooja              481
Kian               481
Hrithik            475
Shruti             467
Ayansh             461
Mahi               461
Trisha             458
Kartikeya          456
Atharv             438
Monika             433
Mihir              433
Shivansh           419
Tanmay             418
Arjun              403
Diya               391
Yash               389
Charvi             387
Sanjeev            387
Vrinda             383
Sai                382
Aryan              379
Manan              378
Ishita             377
Virat              374
Damini             374
Bhavesh            362
Khushi             356
Ishaan             355
Nalini             353
Jai                343
Neha               342
Palak              339
Yogesh             338
Gaurav             336
Deepak             335
Dhruv              334
Tara               331
Vivaan             329
Pari               319
Lavanya            315
Aakash             313
Navya              311
Leela              310
Siddhi             310
Soham              306
Tanvi              300
Kartik             296
Arya               289
Tina               285
Vanya              280
Kush               274
Isha               266
Nisha              264
Samaira            263
Suhani             261
Saurav             258
Apoorva            252
Yamini             250
Aarya              247
Neil               244
Karishma           240
Lata               237
Zoya               232
Nirvaan            231
Rudra              220
Vaishnavi          217
Om                 216
Mayank             215
Dev                210
Vaanya             209
Nakul              206
Rajveer            199
Himani             196
Barkha             190
Tejas              185
Sneha              180
Bhavna             167
Ranveer            162
Rupa               151
Srishti            150
Kiara              138
Kanika             138
Mira               137
Mithila            132
Radhika            122
Sara               108
Pihu               104
Varun               97
Jasmine             94
Lakshay             80
Avni                71
Shanaya             65
Mukund              57
Meera               51
Harini              47
Kalyan              21
Aarash               3
Rupar                3
Kolkata              3
Tarsh                3
Shivvi               2
Prishti              2
Pradhya              2
Aisha                2
Aanya                2
Rani                 2
Patna                2
Hra                  2
Shivna               2
Siddh                2
Vashi                2
Aarvi                2
Thane                2
Jhaan                2
Kartika              2
Aniv                 2
Aam                  2
Shivar               2
Shivan               2
Aan                  2
Nanya                2
Rupadhya             2
Anya                 2
Rupika               1
Aaransh              1
Ijra                 1
Aikash               1
Anishi               1
Aaranya              1
Anar                 1
Parha                1
Srinagar             1
Vidha                1
Prayat               1
Yurav                1
Shivak               1
Rupai                1
Arvik                1
Manjun               1
Ranchal              1
Vita                 1
Prandini             1
Mahav                1
Nhanini              1
Anupal               1
Manr                 1
Eikram               1
Arsha                1
Harshir              1
Shivlok              1
Shivwar              1
Abarav               1
Ayya                 1
Rudrithik            1
Varanasi             1
K.Pharm              1
UX/UI Designer       1
Ariti                1
Nhanvi               1
Aarani               1
Jiram                1
M.Tech               1
Kike                 1
Shivvaan             1
Aarla                1
Nishi                1
Aarand               1
Adiya                1
Ritak                1
Kashi                1
Krey                 1
Prarav               1
Kartal               1
Anariv               1
Irit                 1
Kanisha              1
Anisha               1
Harshaun             1
Rietvik              1
Vasai-Virar          1
Ishlok               1
Vika                 1
Rika                 1
Shir                 1
Sharth               1
Rudrey               1
Virar                1
Shashi               1
Eisha                1
Vhaani               1
Prilak               1
Tani                 1
Nya                  1
Harshav              1
Ewesh                1
Aanket               1
Tohar                1
Ryouvik              1
Niya                 1
Anjun                1
Rupat                1
Anahk                1
Shivsh               1
Niki                 1
Nishita              1
Rohik                1
Prishi               1
Ishaansh             1
Harshand             1
Manik                1
Chrinda              1
Aavya                1
Anarush              1
Viv                  1
Ronnie               1
18                   1
Rietal               1
R.Com                1
Anohi                1
Vivani               1
Ayash                1
Anil                 1
Aiya                 1
Tinmay               1
Rhesh                1
Nikya                1
Arnar                1
Vakash               1
Jush                 1
Randik               1
Siddir               1
Raghavvi             1
BE                   1
Anakash              1
Taurav               1
Ishaesh              1
A.Ed                 1
Golkut               1
Krav                 1
Ayhan                1
Parvik               1
Vlaan                1
Mahak                1
Abishma              1
Prvi                 1
K. Kavya             1
Aieter               1
Aarsh                1
Kupa                 1
Rudegrav             1
Parvi                1
Rajankot             1
Ani                  1
Rupil                1
Adachi               1
Ayut                 1
Rajya                1
Vidvi                1
Mahir                1
Sansh                1
Prishant             1
Eirini               1
Tanak                1
Researcher           1
Shaina               1
Aani                 1
Plumber              1
Nanchal              1
Ayoub                1
Airav                1
Zegmay               1
Aarsush              1
Vidra                1
Kani                 1
Ishma                1
Naly                 1
Jaish                1
Raghavik             1
Anh                  1
Pariv                1
Jhav                 1
Rai                  1
Hreya                1
Shivivaam            1
M.Com                1
Gavrachi             1
Rivaan               1
Haurav               1
Noreen               1
Anish                1
Aohi                 1
Aariket              1
Aarat                1
Vohi                 1
Vavya                1
Ishaam               1
Anhil                1
Rieta                1
Zahra                1
Jathesh              1
Aarun                1
Name: count, dtype: int64

In [14]:
pd.set_option('display.max_rows', 300)
df['City'].value_counts()

City
Kalyan                6591
Patna                 5924
Vasai-Virar           5765
Kolkata               5689
Ahmedabad             5613
Meerut                5528
Ludhiana              5226
Pune                  5210
Rajkot                5207
Visakhapatnam         5176
Srinagar              5074
Mumbai                4966
Indore                4872
Agra                  4684
Surat                 4636
Varanasi              4606
Vadodara              4568
Hyderabad             4496
Kanpur                4398
Jaipur                4328
Thane                 4289
Lucknow               4280
Nagpur                4209
Bangalore             4123
Chennai               4044
Ghaziabad             3620
Delhi                 3593
Bhopal                3475
Faridabad             3268
Nashik                3144
Mihir                    7
Nandini                  4
Mahi                     3
Vidya                    3
City                     3
Pratyush                 3
Harsha                   3
Saanvi                   3
Bhavna                   3
Molkata                  2
MCA                      2
M.Com                    2
Atharv                   2
Nalini                   2
Keshav                   2
Ayush                    2
M.Tech                   1
Researcher               1
Vaishnavi                1
Chhavi                   1
Parth                    1
Vidhi                    1
Tushar                   1
MSc                      1
No                       1
Rashi                    1
ME                       1
Ishanabad                1
Armaan                   1
Kagan                    1
Kashish                  1
Ithal                    1
Nalyan                   1
Dhruv                    1
Galesabad                1
Itheg                    1
Aaradhya                 1
Pooja                    1
Khushi                   1
Khaziabad                1
Jhanvi                   1
Kibara                   1
Harsh                    1
Reyansh                  1
Morena                   1
Less Delhi               1
Malyansh                 1
Aditya                   1
Plata                    1
Aishwarya                1
3.0                      1
Less than 5 Kalyan       1
Krishna                  1
Mira                     1
Moreadhyay               1
Ishkarsh                 1
Raghavendra              1
Kashk                    1
Gurgaon                  1
Tolkata                  1
Anvi                     1
Krinda                   1
Ayansh                   1
Shrey                    1
Ivaan                    1
Vaanya                   1
Gaurav                   1
Unirar                   1
Name: count, dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     140700 non-null  int64
 1   Name                                   140700 non-null  object
 2   Gender                                 140700 non-null  object
 3   Age                                    140700 non-null  float64
 4   City                                   140700 non-null  object
 5   Working Professional or Student        140700 non-null  object
 6   Profession                             104070 non-null  object
 7   Academic Pressure                      27897 non-null   float64
 8   Work Pressure                          112782 non-null  float64
 9   CGPA                                   27898 non-null   float64
 10  Study Satisfaction                     27897 non-null   float64
 11  Job Satisfaction                       112790 non-null  float64
 12  Sleep Duration                         140700 non-null  object
 13  Dietary Habits                         140696 non-null  object
 14  Degree                                 140698 non-null  object
 15  Have you ever had suicidal thoughts ?  140700 non-null  object
 16  Work/Study Hours                       140700 non-null  float64
 17  Financial Stress                       140696 non-null  float64
 18  Family History of Mental Illness       140700 non-null  object
 19  Depression                             140700 non-null  int64
dtypes: float64(8), int64(2), object(10)
memory usage: 21.5+ MB

In [34]:
aca_work_pressure

Empty DataFrame
Columns: [id, Name, Gender, Age, City, Working Professional or Student, Profession, Academic Pressure, Work Pressure, CGPA, Study Satisfaction, Job Satisfaction, Sleep Duration, Dietary Habits, Degree, Have you ever had suicidal thoughts ?, Work/Study Hours, Financial Stress, Family History of Mental Illness, Depression]
Index: []

In [37]:
corr_matrix = df.corr(numeric_only=True)
corr_matrix

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Depression
id,1.000000,0.001850,0.005597,0.003086,-0.011869,0.007824,0.002774,0.002359,-0.000340,0.003944
Age,0.001850,1.000000,-0.075956,-0.098924,0.005129,0.008862,0.030793,-0.118356,-0.083589,-0.564671
Academic Pressure,0.005597,-0.075956,1.000000,NaN,-0.025195,-0.112228,-1.000000,0.095650,0.152105,0.475037
Work Pressure,0.003086,-0.098924,NaN,1.000000,NaN,NaN,-0.036958,-0.002808,0.024412,0.216634
CGPA,-0.011869,0.005129,-0.025195,NaN,1.000000,-0.047078,1.000000,0.002875,0.006398,0.021729
Study Satisfaction,0.007824,0.008862,-0.112228,NaN,-0.047078,1.000000,-1.000000,-0.036934,-0.065001,-0.168014
Job Satisfaction,0.002774,0.030793,-1.000000,-0.036958,1.000000,-1.000000,1.000000,-0.029227,-0.029160,-0.168543
Work/Study Hours,0.002359,-0.118356,0.095650,-0.002808,0.002875,-0.036934,-0.029227,1.000000,0.036134,0.191746
Financial Stress,-0.000340,-0.083589,0.152105,0.024412,0.006398,-0.065001,-0.029160,0.036134,1.000000,0.227237
Depression,0.003944,-0.564671,0.475037,0.216634,0.021729,-0.168014,-0.168543,0.191746,0.227237,1.000000

In [39]:
filtered_df = df[df['CGPA'].notnull() & df['Job Satisfaction'].notnull()]
filtered_df

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
1428,1428,Rishi,Male,29.0,Srinagar,Student,NaN,3.0,NaN,9.63,3.0,3.0,7-8 hours,Moderate,M.Pharm,No,8.0,5.0,No,0
116703,116703,Neil,Male,25.0,Bangalore,Student,NaN,4.0,NaN,9.44,5.0,2.0,Less than 5 hours,Unhealthy,PhD,Yes,4.0,1.0,No,1

In [41]:
df['Academic Pressure'].value_counts()

Academic Pressure
3.0    7463
5.0    6296
4.0    5158
1.0    4801
2.0    4179
Name: count, dtype: int64

In [42]:
df['Work Pressure'].value_counts()

Work Pressure
2.0    24373
4.0    22512
5.0    22436
3.0    21899
1.0    21562
Name: count, dtype: int64

In [43]:
df['Job Satisfaction'].value_counts()

Job Satisfaction
2.0    24783
5.0    22812
1.0    22324
3.0    21951
4.0    20920
Name: count, dtype: int64

In [44]:
df['Study Satisfaction'].value_counts()

Study Satisfaction
4.0    6360
2.0    5840
3.0    5823
1.0    5451
5.0    4423
Name: count, dtype: int64